<section id="dashboard" data-transition="slide" class="active">
        <header data-title="Dashboard">
            <nav class="left">
                <a lab-aside="menu" data-icon="menu"></a>
            </nav>
            <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
            <nav class="right">
                <a lab-aside="msgs" data-icon="comments" ></a>
            </nav>
        </header>

        <article id="main-article" class="hide list indented active scroll">
            <div class="weatherInfo">
                <li class="dark">Wetter:</li>
                <li data-image="{{weatherInfo.Bild}}">
                   <strong>Temperatur:  {{weatherInfo.Temperatur}}°C</strong>
                </li>
            </div>
            <li class="dark">Mensa heute:</li>

            <li class="" data-icon="food">
                <strong>
                    Stammessen
                </strong><br>
                {{mensa.stammessen}}
            </li>
            <li class="" data-icon="food">
                <strong>
                    Wahlessen 1
                </strong><br>
                {{mensa.wahlessen1}}

            </li>
            <li class="" data-icon="food">
                <strong>
                    Wahlessen 2
                </strong><br>
                {{mensa.wahlessen2}}
            </li>
            <li class="" data-icon="food">
                <strong>
                    Beilagen
                </strong><br>
                {{mensa.beilagen}}
            </li>
            <li class="dark">News:</li>
            <div class="news">
            <li ng-repeat="newsEntry in news.news" data-image="{{newsEntry.image}}" >
                <strong><i>{{newsEntry.date}}</i> - {{newsEntry.titel}}</strong><br>
                <p>{{newsEntry.content}}</p>
            </li>
            <li class="dark">Heute:</li>
                <li class="accept">
                    <div class="right tag blu">Raum</div>
                    <strong>
                       Abgabe Regelungstechnik
                    </strong><br>14:00 Uhr
                </li>
            <li class="dark">Diese Woche:</li>
                <li class="accept">
                    <div class="right tag blu">Raum</div>
                    <strong>
                        Abgabe Regelungstechnik
                    </strong><br>14:00 Uhr
                </li>
            </div>
        </article>

    </section>