<section id="messages" data-transition="slide" class="active">
    <header data-title="">
        <nav class="left">
            <a lab-aside="menu" data-icon="menu"></a>
        </nav>
        <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
        <nav class="right">
            <a lab-aside="msgs" data-icon="comments" ></a>
        </nav>
    </header>

    <article id="detail"  class="list active scroll">
        <div class="margined form">
            <fieldset>
                <label>Fach:</label>
                {{message.name}}
            </fieldset>
            <fieldset>
                <label>Art:</label>
                {{message.type}}
            </fieldset>
            <fieldset data-icon="user">
                <label>Absender:</label>
                {{message.fullName}}
            </fieldset>
            <fieldset data-icon="calendar">
                <label>Datum:</label>
                {{message.eventDate}}
            </fieldset>
            <fieldset data-icon="time">
                <label>Zeit:</label>
                {{message.eventDate}}
            </fieldset>
            <fieldset>
                <label>Nachricht:</label>
                <br><br>
<p>{{message.content}}</p>   <br><br>         </fieldset>


        </div>
        <div class="one row" ng-show="showEditBtn()">
            <div class="margined">
                 <button class="button anchor blue" ng-click="editMsg()" data-label="Bearbeiten"></button>
            </div>
        </div>
    </article>

</section>