<section id="messages" data-transition="slide" class="active">
    <header data-title="Nachrichten">
        <nav class="left">
            <a lab-aside="menu" data-icon="menu"></a>
        </nav>
        <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
        <nav class="right">
            <a lab-aside="msgs" data-icon="comments" ></a>
        </nav>
    </header>

    <article id="fetch" class="list indented active scroll">
        <li>
            <form>
                <fieldset data-icon="search">
                    <input type="search" placeholder="Durchsuchen..." ng-model="query">
                </fieldset>
            </form>
        </li>

        <div class="showMessages">
            <li ng-repeat="message in showMessages.message | filter:query" data-icon="plus-sign">
                <strong>{{message.type}}: {{message.name}}</strong><br>
                Datum: {{message.eventDate}}<br>
            </li>
        </div>
    </article>

</section>