<section id="news" data-transition="slide" class="active">
    <header data-title="Neuigkeiten">
        <nav class="left">
            <a lab-aside="menu" data-icon="menu"></a>
        </nav>
        <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
        <nav class="right">
            <a lab-aside="msgs" data-icon="comments" ></a>
        </nav>
    </header>

    <article id="main-article" class="list indented active scroll">
        <li>
            <form>
                <fieldset data-icon="search">
                    <input type="search" placeholder="Durchsuchen..." ng-model="query">
                </fieldset>
            </form>
        </li>

        <div class="news">
            <li ng-repeat="news in news | filter:query" data-icon="plus-sign">
                <strong>{{news.datum}}</strong><br>
                {{news}}
            </li>
        </div>
    </article>

</section>