<section id="persons" data-transition="slide" class="active">
    <header data-title="Personen" class="extended">
        <nav class="left">
            <a lab-aside="menu" data-icon="menu"></a>
        </nav>
        <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
        <nav class="right">
            <a lab-aside="msgs" data-icon="comments" ></a>
        </nav>
    </header>
    <nav class="groupbar">
        <a href="#/persons/alphabetical" data-router="article" class="active" data-label="Alphabetisch"></a>
        <a href="#/persons/ordered" data-router="article" data-label="Fakultäten" ></a>
    </nav>

    <article id="alphabetical" class="list indented active scroll">
        <li>
            <form>
                <fieldset data-icon="search">
                    <input type="search" placeholder="Durchsuchen..." ng-model="query">
                </fieldset>
            </form>
        </li>

            <li ng-repeat="person in persons | filter:query" ng-click="showPerson(person.personID)" data-icon="user" >
                <strong>{{person.firstName}} {{person.lastName}}</strong><br>
                {{person.personalState}}
            </li>



    </article>

    <article id="ordered" class="list indented scroll">
        <li class="dark" ng-repeat="department in departments">
           {{department.name}}
        </li>


    </article>


</section>