<section id="room" data-transition="slide" class="active" ng-controller="RoomDetailCtrl">
    <header data-title="Raum">
        <nav class="left">
            <a lab-aside="menu" data-icon="menu"></a>
        </nav>
        <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
        <nav class="right">
            <a lab-aside="msgs" data-icon="comments" ></a>
        </nav>
    </header>

    <article id="detail" class="list indented active scroll">
        <li class="dark">Information</li>
        <li>
            <strong>
                {{room.room.0.name}}
            </strong><br>Gebäude: {{room.room.0.building}}<br>Stockwerk: {{room.room.0.floor}}<br>

        </li>
        <img class="floorImg" src="img/floorplans/{{room.room.0.img}}">
        <li class="dark">Belegungsplan</li>
        <li>
            <form>
                <fieldset data-icon="search">
                    <input type="search" placeholder="Durchsuchen..." ng-model="query">
                </fieldset>
            </form>
        </li>
        <li class="accept" ng-repeat="day in room.room.0.schedule | filter:query" ng-click="showLecture(day.lectureId)">
            <strong>
                {{day.name}}
            </strong><br>{{day.day}}<br>{{day.startTime}} Uhr bis {{day.endTime}} Uhr
        </li>
        </div>
    </article>


</section>