<section id="rooms" data-transition="slide" class="active">
    <header data-title="Räume" class="extended">
        <nav class="left">
            <a lab-aside="menu" data-icon="menu"></a>
        </nav>
        <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
        <nav class="right">
            <a lab-aside="msgs" data-icon="comments" ></a>
        </nav>
    </header>
    <nav class="groupbar">
        <a href="#/rooms/alphabetical" data-router="article" class="active" data-label="Alphabetisch"></a>
        <a href="#/rooms/ordered" data-router="article" data-label="Fakultäten" ></a>
    </nav>

    <article id="alphabetical" class="list indented active scroll">
        <li>
            <form>
                <fieldset data-icon="search">
                    <input type="search" placeholder="Durchsuchen..." ng-model="query">
                </fieldset>
            </form>
        </li>


            <li ng-repeat="room in roomList | filter:query" ng-click="showRoom(room.roomID)" data-icon="key">
                <strong>Raum: {{room.name}}</strong><br><br>

            </li>
        <div class="room">
            <p>{{room.name}}</p>
            <p>{{room.roomID}}</p>
        </div>

    </article>

    <article id="ordered" class="list indented scroll">
        <li>
           TESTESTESTEST
        </li>


    </article>


</section>