<section id="second" data-transition="slide">
        <article id="splashCourses" class="indented list scroll active" data-transition="slide">
                <ul>
                <li class="dark">
                    <strong>
                        Hallo NAME, bitte wähle deinen Studiengang aus
                    </strong>
                </li>
                <li>
                    <form>
                        <fieldset data-icon="search"><span class="icon search"></span>
                            <input type="search" placeholder="Durchsuchen...">
                        </fieldset>
                    </form>
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
               <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>

                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
                <li data-action="chooseSemester" data-icon="plus-sign">
                    <strong>AIT</strong><br>
                    Automobilinformationstechnik
                </li>
            </ul>
            </article>
    </section>