<section id="stundenplan" data-transition="slide">
        <header data-title="Montag">
            <nav class="left">
                <a href="#features" data-router="aside" data-icon="menu"></a>
            </nav>
            <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
            <nav class="right">
                <a href="#msgs" data-router="aside" data-icon="comments" ></a>
            </nav>
        </header>
        <article id="stundenplanView" class="list indented active scroll">

                    <li class="anchor">
                        <strong>
                           08:00 Uhr
                        </strong>
                    </li>
                    <li class="accept">
                        <div class="right tag blu">Raum</div>
                        <strong>
                            Fach aus Studiengang
                        </strong><br>Dozent
                    </li>
                    <li class="anchor">
                        <strong>
                           11:15 Uhr
                        </strong>
                    </li>
                    <li class="accept">
                        <div class="right tag blu">Raum</div>
                        <strong>
                             Fach aus Studiengang
                        </strong><br>Dozent
                    </li>
                    <li class="cancel">
                        <div class="right tag blu">Raum</div>
                        <strong>
                            Zusatzfach
                        </strong><br>selbstgewählt oder nachholen z.B
                    </li>
                    <li class="anchor">
                        <strong>
                           13:00 Uhr
                        </strong>
                    </li>
                    <li class="accept">
                        <div class="right tag blu">Raum</div>
                        <strong>
                           Fach aus Studiengang
                        </strong><br>Dozent
                    </li>
                   
        </article>
        
    </section>