<section id="guthaben" data-transition="slide">
        <header data-title="Guthaben">
            <nav class="left">
                <a href="#features" data-router="aside" data-icon="menu"></a>
            </nav>
            <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
            <nav class="right">
                <a href="#msgs" data-router="aside" data-icon="comments" ></a>
            </nav>
        </header>
        <article id="guthabenView" class="list indented active scroll">
            <li class="anchor">
                <strong>
                   Druckerkonto
                </strong>
            </li>
            <li class="" data-icon="print">
                <strong>
                    5,73 €
                </strong><br>Verfügbarer Betrag<br>

            </li>
            <li class="anchor">
                <strong>
                    Z-Laufwerk
                </strong>
            </li>
            <li class="" data-icon="desktop">
                <strong>
                    12 GB
                </strong><br>
                Speicherplatz übrig auf Z-Laufwerk
            </li>
            <form class="" data-progress="74%">
            </form>
            
        </article>      
    </section>