<section id="lectures" data-transition="slide" ng-controller="LectureCtrl">
        <header data-title="{{Lecture.name}}">
            <nav class="left">
                <a lab-aside="menu" data-icon="menu"></a>
            </nav>
            <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
            <nav class="right">
                <a lab-aside="msgs" data-icon="comments" ></a>
            </nav>
        </header>
        <article id="detail" class="list indented active scroll">

                    <div class="schedule">
                        <li><strong>Fach: {{lecture.Schedule.0.name}}</strong><br><br>Zugewiesene Person: {{lecture.Schedule.0.firstName}} {{lecture.Schedule.0.lastName}}</li>
                    <li class="anchor">Termine</li>
                    <li class="accept" ng-repeat="lectureSingle in lecture.Schedule" ng-show="lectureSingle.interval">
                        <div class="right tag blu">{{lectureSingle.roomName}}</div>
                        <strong>{{lectureSingle.day}}</strong><br><br>
                        {{lectureSingle.startTime}} Uhr - {{lectureSingle.endTime}} Uhr
                    </li>
                    <li class="anchor">Einzelveranstaltungen</li>
                        <li class="accept" ng-repeat="lectureSingle in lecture.Schedule" ng-hide="lectureSingle.interval">
                            <div class="right tag blu">{{lectureSingle.roomName}}</div>
                            <strong>{{lectureSingle.day}} - {{lectureSingle.date}}</strong><br><br>
                            {{lectureSingle.startTime}} Uhr - {{lectureSingle.endTime}} Uhr
                        </li>
                    </div>
                   
        </article>
        
    </section>