<section id="bibliothek" data-transition="slide">
        <header data-title="Bibliothek">
            <nav class="left">
                <a lab-aside="menu" data-icon="menu"></a>
            </nav>
            <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
            <nav class="right">
                <a lab-aside="msgs" data-icon="comments" ></a>
            </nav>
        </header>
        <article id="bibView" class="list indented active scroll">
            <li class="anchor">
                <strong>
                   Gebührenkonto
                </strong>
            </li>
            <li class="" data-icon="money">
                <strong>
                    115,73 €
                </strong><br>zu zahlende Gebühren<br>

            </li>
            <li class="anchor">
                <strong>
                    Offene Ausleihen
                </strong>
            </li>
            <li class="" data-icon="book">
                <strong>
                    Buchtitel
                </strong><br>
                Kurzbeschreibung
            </li>
            <li class="" data-icon="book">
                <strong>
                    Buchtitel
                </strong><br>
                Kurzbeschreibung
            </li>
            <li class="anchor">
                <strong>
                   Ausweis
                </strong>
            </li>
            <li class="" data-icon="credit-card">
                <strong>
                    24.06.2013
                </strong><br>Gültigkeit<br>

            </li>
            
        </article>
        
    </section>