<section id="personen" data-transition="slide">
        <header data-title="Personen" class="extended">
            <nav class="left">
                <a href="#features" data-router="aside" data-icon="menu"></a>
            </nav>
            <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
            <nav class="right">
                <a href="#msgs" data-router="aside" data-icon="comments" ></a>
            </nav>
        </header>
        <nav class="groupbar">
                <a href="#alphabetischPersonen" data-router="article" class="active" data-label="Alphabetisch"></a>
                <a href="#fakultaetPersonen" data-router="article" data-label="Fakultäten" ></a>
            </nav>
        <article id="alphabetischPersonen" class="list indented active scroll">
            <li class="anchor">
                <strong>
                   A
                </strong>
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Aa
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Ab
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Ac
                </strong><br>
                Beschreibung
            </li>
            <li class="anchor">
                <strong>
                   B
                </strong>
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Ba
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Bb
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Bc
                </strong><br>
                Beschreibung
            </li>
            <li class="anchor">
                <strong>
                   C
                </strong>
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Ca
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Cb
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Cc
                </strong><br>
                Beschreibung
            </li>
        </article>
        <article id="fakultaetPersonen" class="list indented scroll">
            <li class="anchor">
                <strong>
                   Maschinenbau
                </strong>
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Ac
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Bb
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Bc
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Bb
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Bc
                </strong><br>
                Beschreibung
            </li>
            <li class="anchor">
                <strong>
                   Informatik
                </strong>
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Ac
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Bb
                </strong><br>
                Beschreibung
            </li>
            <li class="" data-icon="user">
                <strong>
                   Person Bc
                </strong><br>
                Beschreibung
            </li>
        </article>
    </section>