<section id="rooms" data-transition="slide" class="active">
    <header data-title="Räume">
        <nav class="left">
            <a lab-aside="menu" data-icon="menu"></a>
        </nav>
        <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
        <nav class="right">
            <a lab-aside="msgs" data-icon="comments" ></a>
        </nav>
    </header>

    <article id="main-article" class="list indented active scroll">
        <li>
            <form>
                <fieldset data-icon="search">
                    <input type="search" placeholder="Durchsuchen..." ng-model="query">
                </fieldset>
            </form>
        </li>

        <div class="affenkacke">
            <li ng-repeat="room in roomList.rooms | filter:query" ng-click="showRoom(room.roomID)" data-icon="plus-sign">
                <strong>{{room.name}}</strong><br>

            </li>
        <div class="room">
            <p>{{room.name}}</p>
            <p>{{room.roomID}}</p>
        </div>
        </div>
    </article>


</section>