<section id="room" data-transition="slide" class="active" ng-controller="RoomDetailCtrl">
    <header data-title="Raum">
        <nav class="left">
            <a lab-aside="menu" data-icon="menu"></a>
        </nav>
        <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
        <nav class="right">
            <a lab-aside="msgs" data-icon="comments" ></a>
        </nav>
    </header>

    <article id="detail" class="list indented active scroll">
        <li>
            <form>
                <fieldset data-icon="search">
                    <input type="search" placeholder="Durchsuchen..." ng-model="query">
                </fieldset>
            </form>
        </li>
            <li ng-repeat="day in schedule" >
                {{day.wochentag}}<br>
                {{day.beginn}}<br>
                {{day.ende}}<br>
                {{day.raum}}<br>
            </li>
        </div>
    </article>


</section>