<section id="room" data-transition="slide" class="active" ng-controller="RoomDetailCtrl">
    <header data-title="Raum">
        <nav class="left">
            <a lab-aside="menu" data-icon="menu"></a>
        </nav>
        <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
        <nav class="right">
            <a lab-aside="msgs" data-icon="comments" ></a>
        </nav>
    </header>

    <article id="detail" class="list indented active scroll">
        <li class="dark">Information</li>
        <li>
            <strong>
                Raumname
            </strong><br>Gebäude: [GEBÄUDE]<br>Stockwerk: [Stockwerk]
        </li>
        <li class="dark">Belegungsplan</li>
        <li>
            <form>
                <fieldset data-icon="search">
                    <input type="search" placeholder="Durchsuchen..." ng-model="query">
                </fieldset>
            </form>
        </li>
        <li class="accept" ng-repeat="day in schedule | filter:query">
            <strong>
                {{day.summary}}
            </strong><br>{{day.wochentag}}<br>{{day.beginn}} Uhr bis {{day.ende}} Uhr
        </li>
        </div>
    </article>


</section>