<section id="schedule" data-transition="slide">
        <header data-title="Stundenplan">
            <nav class="left">
                <a lab-aside="menu" data-icon="menu"></a>
            </nav>
            <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
            <nav class="right">
                <a lab-aside="msgs" data-icon="comments" ></a>
            </nav>
        </header>
        <article id="detail" class="list indented active scroll">

                    <div class="schedule">
                         <div ng-repeat="day in myschedule.course">
                         <li class="anchor">
                        <strong>
                           {{day.wochentag}} - {{day.Beginn}}
                        </strong>
                    </li>
                    <li class="accept selectable" ng-click="showLecture(131943)">
                        <div class="right tag blu">{{day.Raum}}</div>
                        <strong>
                            {{day.Info}}
                        </strong><br>Dozent
                    </li>
                </div>
                  </div>
                   
        </article>
        
    </section>