<section id="search" data-transition="slide">
        <header data-title="Suche">
            <nav class="left">
                <a lab-aside="menu" data-icon="menu"></a>
            </nav>
            <!--<img src="http://cdn.tapquo.com/lungo/logo.png" class="title centered">-->
            <nav class="right">
                <a lab-aside="msgs" data-icon="comments" ></a>
            </nav>
        </header>
        <article id="searchViews" class="indented list scroll active" data-transition="slide">
                <ul>
                <li>
                    <form>
                        <fieldset data-icon="search"><span class="icon search"></span>
                            <input type="search" placeholder="Durchsuchen..." ng-model="query">
                          <!--  <label class="select">
                                <select class="custom">
                                    <option value="1">Filter</option>
                                    <option value="2">Personen</option>
                                    <option value="3">Räume</option>
                                </select>
                            </label>-->
                        </fieldset>
                    </form>
                </li>
                    <li class="dark">Räume</li>
                    <li ng-repeat="room in rooms | filter:query" ng-click="showRoom(room.roomID)" data-icon="key">
                        <strong>Raum: {{room.name}}</strong><br><br>

                    </li>
                    <li class="dark">Studiengänge</li>
                    <li ng-repeat="course in courses | filter:query" ng-click="selectCourse(course.courseID, course.fullName)" class="selectable" data-icon="book">
                        <strong>{{course.shortName}}</strong><br>
                        {{course.fullName}}
                    </li>
                    <li class="dark">Personen</li>
               <li ng-repeat="person in persons | filter:query"  data-icon="user" >
                    <strong>{{person.firstName}} {{person.lastName}}</strong><br>
                    {{person.personalState}}
                </li>

               
            </ul>
            </article>
    </section>