<section id="updateSemester" data-transition="slide">
    <article id="semester" class="indented list scroll active">
        <ul>
                <li class="dark">
                    <strong>
                        Bitte wähle nun dein Semester aus:
                    </strong>
                </li>
                    <li ng-click="selectSemester(1)"><strong>1. Semester</strong><br></li>
                    <li ng-click="selectSemester(2)"><strong>2. Semester</strong><br></li>
                    <li ng-click="selectSemester(3)"><strong>3. Semester</strong><br></li>
                    <li ng-click="selectSemester(4)"><strong>4. Semester</strong><br></li>
                    <li ng-click="selectSemester(5)"><strong>5. Semester</strong><br></li>
                    <li ng-click="selectSemester(6)"><strong>6. Semester</strong><br></li>
                    <li ng-click="selectSemester(7)"><strong>7. Semester</strong><br></li>
                    <li ng-click="selectSemester(8)"><strong>8. Semester</strong><br></li>
                    <li ng-click="selectSemester(9)"><strong>9. Semester</strong><br></li>
                    <li ng-click="selectSemester(10)"><strong>10. Semester</strong><br></li>
        </ul>
    </article>
</section>